.full-container {
    background-color: rgba(241, 229, 215, 0.253);
    height: 100vh;
    width: 100%;
}

.container {
    position: relative;
    text-align: center;  
    height: 100vh;
}

.image {
    height:100vh;
    width: 960px;
}

.text {
    position: absolute;
    top: 400px;
    left: -8px;
    width: 100%;
    color: #fff9dd;
    font-size: 45px;
    font-family: revert;
    transition: font-size 0.5s;
}

.container:hover .text {
    font-size: 100px; 
}