<div class="full-container">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="50" class="container">
            <img src="../../assets/images/event.png" class="image">
            <div><button mat-button class="text" (click)="goTo('evente')">EVENTE</button></div>
        </div>

        <div  fxFlex="50" class="container">
            <img src="../../assets/images/konfeta.png" class="image">
            <div><button mat-button class="text" (click)="goTo('konfeta')">KONFETA</button></div>
        </div>
    </div>
</div>
