.div1{
    position: relative;
    text-align: center;
    height: 413px !important;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
}

.text {
    position: absolute;
    top: 220px;
    left: -8px;
    width: 100%;
    color: #fff9dd;
    font-size: 30px;
    font-family: revert;
    transition: font-size 0.5s;
    background-color: transparent;
}

.div1:hover .text {
    font-size: 50px; 
    background: transparent;
}

img {
    height:513px; 
    width: 420px;
    border-radius: 6px;
}