.review-show {
    background-color:rgb(221, 209, 205);
    width: 1200px;
    min-height: 80px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
}

.review-leave {
    background-color:rgb(221, 209, 205);
    margin-top: 5%; 
    padding-left: 2%;
    padding-top: 2%;
    margin-bottom: 10%;
    min-height: 100px;
    width: 1200px;
}


.comment-text {
    margin-top: 1px;
    word-wrap: break-word !important; /* Allow long words to be broken and wrapped */
    flex: 1; /* Allow the paragraph to take up all available space */
}

.comment-username {
    font-size: medium;
    font-style: oblique;
    font-weight: 500;
}

.comment-title {
    font-size: large;
    font-style: normnal;
    font-weight: 800; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}