
<div fxLayout="row" fxLayoutAlign="space-between center" class="modalHeader">
    <div fxFlex="50">Ndrysho eventin</div>
    <div fxFlex="50">
      <button (click)="closeDialog()" style="float:right" mat-icon-button color="primary">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <br>
  
  <form ngNativeValidate [formGroup]="editEventForm" (ngSubmit)="editEvent(editEventForm.value, data.item)"><!--data.editEvent(editEventForm.value, data.toBeEdited)  kap metoden editEvent te prindi-->
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
      <div fxFlexFill fxFlex="50">
        <mat-form-field style="width: 100%">
          <mat-label>Titulli</mat-label>
          <input matInput required formControlName="name" type="text" placeholder="Titulli">
        </mat-form-field>
      </div>
      <div fxFlexFill fxFlex="50">
        <mat-form-field style="width: 100%">
          <mat-label>Kategoria e eventit</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let cat of data.eventCategory" [value]="cat">
              {{cat}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <br>
    <div>
      <mat-form-field style="width: 100%">
        <mat-label>Tekst</mat-label>
        <textarea matInput formControlName="text"></textarea>
      </mat-form-field>
    </div>
    <br>
    <div>
      <mat-label>Fotoja e coverit</mat-label>
      <input formControlName="profileImgUrl" #fileInput type="file" (change)="handleProfileImageInput($event)"
        accept="image/*">
    </div>
    <br>
    <div>
      <mat-label>Fotot per eventin</mat-label>
      <input formControlName="eventImages" type="file" #fileInput multiple (change)="handleMultipleImageInput($event)"
        accept="image/*">
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
      <div fxFlexFill fxFlex="100">
        <button mat-flat-button color="primary" type="submit" style="float: right">Ruaj</button>
      </div>
    </div>
  </form>
  
