<mat-toolbar class="custom-toolbar">
    
    <img  class="images" src="../../assets/logos/logo1.png" height="100px" width="90px"/>
   
    <span style="font-size: 30px;">&nbsp;{{title | uppercase}}</span>

    <span class="example-spacer"></span>

    <button mat-button (click)="goToPage('kreu')" class="titltes">Kreu</button>
    <button mat-button (click)="goToPage('evente')" class="titltes">Evente</button>
    <button mat-button (click)="goToPage('konfeta')" class="titltes">Konfeta</button>
    <button mat-button (click)="goToPage('kontakt')" class="titltes">Kontakt</button>

    <span *ngIf="loginState" class="text-light">&nbsp;&nbsp;&nbsp;Mireserdhe {{userName}}</span>
    
    <button mat-icon-button
            *ngIf="!loginState"
            (click)="auth_btnClicked()"
            routerLink="/login"
            class="text-light"
            matTooltip="Login"
            matTooltipPosition="below">
      <mat-icon>person_outline</mat-icon>
    </button>
    <button mat-icon-button
            *ngIf="loginState"
            (click)="auth_btnClicked()"
            class="text-light"
            matTooltip="Logout"
            matTooltipPosition="below">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  