
<div class="container">

    <div  class="div1">
        <h1 mat-display-1 style="padding-top: 30%; padding-left: 30%;font-size: 70px;font-style: italic;color: rgb(52, 38, 19);">Artfully Event</h1>
        <div style="padding-top: 1%; padding-left: 32%;">                
            
            <p mat-body-1 class="text">
                <img  class="images" src="../../assets/logos/pin.png" height="20px" width="18px"/>
                Adresa :  <a href="https://maps.google.com/?q=40.624207,20.779762" target="_blank" style="text-decoration: underline;">Korce</a></p>     
            <p mat-body-1 class="text">
                <img  class="images" src="../../assets/logos/phone.png" height="20px" width="18px"/>
                Nr tel : +355 69 899 1404</p>
            <p mat-body-1 class="text">
                <img  class="images" src="../../assets/logos/instagram.png" height="20px" width="18px"/>
                Instagram : <a href="https://www.instagram.com/artfully.event/" target="_blank" style="text-decoration: underline;">Artfully Event</a></p>
            <p mat-body-1 class="text">
                <img  class="images" src="../../assets/logos/instagram.png" height="20px" width="18px"/>
                Instagram : <a href="https://www.instagram.com/art_of_confetti/" target="_blank" style="text-decoration: underline;">Art of Confetti</a></p>
            <p mat-body-1 class="text">
                <img  class="images" src="../../assets/logos/email.png" height="20px" width="18px"/>
                Email : artfullyevent@gmail.com</p>
        </div>           
    </div>
 

</div> 
