.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 {
    background-image: url("../../assets/images/address3.png");
    background-size: 987px 850px;
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    width: 987px;
    height: 100vh; /* Set the height of the div */
   
}

.text {
    font-size: 20px;
    color: rgb(52, 38, 19);
    font-style: italic;
}

a {
    color: rgb(52, 38, 19);
    text-decoration: none;
    cursor: pointer; /* Optional: Change cursor to pointer to indicate clickable */
}