.div1{
    background-color: #d9d9d9;
    /* width: 20%;
    height: 400px; */
    margin-left: 3%;
    margin-top: 5%;
}

.div2{
    padding-top: 3%;
    text-align: center;
    /* width: 30%;
    height: 560px; 
    margin-left: 5%;
    margin-top: 5%; */
}