
<div style="width: 100%;">
  
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">

            <div fxFlexFill fxFlex="50" class="div1">
                <div style="padding-top: 5%; padding-left: 15%;">                
                    <h1 mat-display-1>Artfully Event</h1>
                    <p mat-body-1>
                        <img  class="images" src="../../assets/logos/pin.png" height="20px" width="18px"/>
                        Adresa : Korce ...</p>
                    <p mat-body-1>
                        <img  class="images" src="../../assets/logos/phone.png" height="20px" width="18px"/>
                        Nr tel : +355 69 899 1404</p>
                    <p mat-body-1>
                        <img  class="images" src="../../assets/logos/instagram.png" height="20px" width="18px"/>
                        Instagram : <a href="https://www.instagram.com/artfully.event/">Artfully Event</a></p>
                    <p mat-body-1>
                        <img  class="images" src="../../assets/logos/instagram.png" height="20px" width="18px"/>
                        Instagram : <a href="https://www.instagram.com/art_of_confetti/">Art of Confetti</a></p>
                    <p mat-body-1>
                        <img  class="images" src="../../assets/logos/email.png" height="20px" width="18px"/>
                        Email : ...</p>
                </div>                
            </div>
            <div fxFlexFill fxFlex="50" class="div2">
                <img  class="images" src="../../assets/logos/logo1.png" height="250px" width="250px"/>
            </div>
    </div>

</div> 
